@model Purchase
@{
    ViewData["Title"] = "Edit";
}

<h1>Edit Purchase</h1>

<form method="post" asp-action="Edit">


    <div class="mb-3">
        <label asp-for="BuyerName" class="form-label"></label>
        <input asp-for="BuyerName" name="BuyerName" class="form-control" />
        <span asp-validation-for="BuyerName" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="TotalPrice" class="form-label"></label>
        <input asp-for="TotalPrice" name="TotalPrice" class="form-control" />
        <span asp-validation-for="TotalPrice" class="text-danger"></span>
    </div>
    

    <div class="mb-3">
        <label asp-for="Location" class="form-label"></label>
        <input asp-for="Location" name="Location" class="form-control" />
        <span asp-validation-for="Location" class="text-danger"></span>
    </div>



    <button type="submit" class="btn btn-primary">Update</button>
    <a asp-action="Index" class="btn btn-dark">Back</a>

</form>